/* estilo de codigo para el footer */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}

.content {
    flex: 1; 
    padding-bottom: 60px; 
}

.footer {
    
    color: #333;
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    margin-bottom: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}


