:root{
    --navbarHeight: 10%;
    --navbarWidth:85%;
    --bodyWidth: 80%;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar{
    background-color:hsl(6, 81%, 43%);
    display: flex;
    justify-content: space-between;
    padding-right: 2.5rem;
    /* border-bottom: solid 1px #E2E1E0; */
    align-items: center;
    align-content: center;
    height: var(--navbarHeight);
    /* height: 10%; */
    width: var(--navbarWidth);
    /* width: 85%; */
    position: relative;
    float: right;
    box-sizing: border-box;
    color: hsl(37, 76%, 97%);
    box-shadow: 7px 1px 5px rgba(0, 0, 0, 0.319);
    border: 3px solid hsl(6, 81%, 43%);;
    z-index: 100;
    
}

.navbar .user{
    width: 30%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.navbar .user .name{
    width: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.navbar .user .img-user{
    width: 15%;
    box-sizing: border-box;
    margin: auto;
}

.navbar .user .img-user img{
    
    width: 100%;
}

.departamento{
    margin-left: 2%;
}